body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFE8DB;
}

.container-pos {
    height: 100vh;
    overflow: hidden;
}

.product-section {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #F9F5F0;
}

.cart-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F9F5F0;
}

.cart-header {
    background-color: white;
    color: black;
    box-shadow: 0 0 3px #e5e5e5;
    border: 1px solid #f5f5f5;
    padding: 20px;
    border-radius: 20px;
}

.cart-items {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}


.cart-footer {
    background-color: white;
    padding: 20px;
    border-top: 1px solid #dee2e6;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.total-section {
    background-color: #F9F5F0;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.btn-checkout {
    border: none;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
}

.btn-clear-cart {
    padding: 15px;
    font-size: 1.1;
    font-weight: bold;
}

/* .btn-outline-danger {
    border: none;
    padding: 15px;
    font-size: 1.1rem;
    font-weight: bold;
} */

p {
    color: black;
}